<%= form_with(model: post, remote: true, id: 'form-remote') do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.collection_select( :author_id, Author.all, :id, :name ) %>
  </div>

  <div class="actions">
    <%= form.submit 'Save', id: 'form-submit' %>
    <%# form.submit 'Save', id: 'form-submit', style: 'display: none' %>
    <%# submit_tag 'Save', type: :button %>
    <%= button_tag 'Save!', 'data-btn': 'submit', type: :button %>
  </div>
<% end %>
