<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'/>
    <title>Test Cache</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
    function do_update() {
      $.ajax({
        url: '<%= update_path( ctrl: controller_name, act: action_name ) %>'
      }).success(function( response ) {
        console.log( response );
        // apply csrf token
        $('[name="csrf-token"]').attr( 'content', response.authenticity_token );
        $('[name="authenticity_token"]').val( response.authenticity_token );
        // show flash messages
        var flash = '';
        if( response.flash.notice ) flash += response.flash.notice;
        if( response.flash.alert  ) flash += ( flash ? ', ' : '' ) + response.flash.alert;
        $('#flash').html( flash );
        // set optional elements
        if( response.set ) {
          var keys = Object.keys( response.set );
          for( var i = 0; i < keys.length; i++ ) {
            var key = keys[i];
            $(key).html( response.set[key] );
          }
        }
      });
    }

    $(document).ready( function() {
      Barba.Pjax.start();
      Barba.Dispatcher.on('transitionCompleted', function() {
        do_update(); // call update endpoint
      });
      do_update(); // call update endpoint

      /*
      // forms setup
      $('[data-remote]').on('ajax:before', function() {
        $('#status .info').each( function() {
          $(this).remove();
        });
      }).on('ajax:success', function(e, data, status, xhr) {
        window.location.replace( e.detail[0].location );
        // $('#status').append( '<p class="info">' + e.detail[1] + '</p>' );
      }).on( 'ajax:error', function(e, xhr, status, error) {
        for( var property in e.detail[0] ) {
          if( e.detail[0].hasOwnProperty( property ) ) {
            $('#status').append( '<p class="info"><b>' + property + '</b>: ' + e.detail[0][property] + '</p>' );
          }
        }
      }); */
    });
    </script>
  </head>

  <body>
    <div id="barba-wrapper">
      <div class="barba-container">
        <div id="flash"></div>
        <div id="special"></div>
        <div id="status"></div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
